poc6/src/main/mule/poc6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4b211e0c-8451-414e-a63a-3221dbe0e651" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="0e23953f-2655-449a-b644-f4204858652b" >
		<wsc:connection wsdlLocation="http://mu.mulesoft-training.com/essentials/delta/flights?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://mu.mulesoft-training.com/essentials/delta/flights" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="poc6Flow" doc:id="e2045aaa-3dfb-4583-9b64-c128aad6cff3" >
		<http:listener doc:name="Listener" doc:id="14600d6b-214e-454f-8c1d-2a25c4e5ca38" config-ref="HTTP_Listener_config" path="/path"/>
		<set-variable value="#[attributes.queryParams.destination]" doc:name="Set Variable" doc:id="171f41f6-399d-4d3c-ba5a-71da2c19a45d" variableName="name" />
		<choice doc:name="Choice" doc:id="48a140e3-4f4f-4a8e-aeed-30f6768f0055" >
			<when expression="#[vars.name != null]">
				<ee:transform doc:name="Transform Message" doc:id="8815ba3e-aa2a-4a51-b49b-198851d15393" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
ns0#findFlight:{
destination: attributes.queryParams.destination
}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume operation="findFlight" doc:name="Consume" doc:id="2c94479d-cd77-4bc1-a082-1bb83555a0f9" config-ref="Web_Service_Consumer_Config" />
				<ee:transform doc:name="Transform Message" doc:id="191ca8b8-92c9-46cc-a1f9-880880ef0e08">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.body.findFlightResponse
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<wsc:consume operation="listAllFlights" doc:name="Consume" doc:id="ca7baf5a-8dbe-421f-b34d-9638a51403be" config-ref="Web_Service_Consumer_Config" />
				<ee:transform doc:name="Transform Message" doc:id="3c80d11a-2315-4c4e-8539-d89abf02bfea">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
payload.body.listAllFlightsResponse.*return ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="8ae5b159-a040-4c2d-a7d9-49e734c37877" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
