poc13-proc/src/main/mule/poc13.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    
	<flow name="poc13-main">
        <http:listener config-ref="poc13-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="poc13-config" />
		<error-handler ref="errors_proc" />
  
    </flow>
    <flow name="poc13-console">
        <http:listener config-ref="poc13-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="poc13-config" />
		<error-handler ref="errors_proc" />
    </flow>
    <flow name="get:\poc13:poc13-config">
		<set-variable value="#[attributes.queryParams.country]" doc:name="Set Variable" doc:id="e461c4e2-0cad-4b80-ab0d-5ae76e5ad8df" variableName="country"/>
		<http:request method="GET" doc:name="Request" doc:id="ff107107-b42b-42f7-9990-31be7b019bb3" config-ref="HTTP_Request_configuration" path="/api/poc13" responseTimeout="3000000"/>
		<choice doc:name="Choice" doc:id="e7591d22-de5a-4663-897b-7e4c47c69b4e" >
			<when expression='#[vars.country == "India"]'>
				<ee:transform doc:name="Transform Message" doc:id="12b7cf64-a3eb-44b3-a0f4-55c456338821" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload filter(vars.country == $.country)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="b5f0b40b-04c8-41f6-870e-226d9330099a" config-ref="File_Config" path="poc13.csv" mode="APPEND"/>
				<logger level="INFO" doc:name="Logger" doc:id="491343b7-8cbc-493e-b71e-d2b46d542d7e" message='#["success"]'/>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="afbdc52b-84d0-45e5-a03c-5048ffd35f1d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload filter($.country == vars.country)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="ae85c495-b938-4b7a-8a2e-b1f531c6df44" message='#["success"]'/>
			</otherwise>
		</choice>
		<error-handler ref="errors_proc" />
    </flow>
</mule>
